/* MenuFrom.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .sidebar .header {
    display: flex;
    align-items: center;
    font-size: 28px;

    
  }
  
  .sidebar .header img {
    height: 30px;
    margin-right: 10px;
    
  }
  
  .sidebar .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 20px;

    
  }
  
  .sidebar .menu-item svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
  }
  
  .sidebar .menu-item:hover {
    background-color: #ddd;
    padding: 10px;
    
  }
  
  .main-content {
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  .icon1{
    width: 100px;
    height: 50px;

  }
  
  .main-content .top-bar {
    background-color: #800000;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre los elementos */
    align-items: center; /* Centra verticalmente */
    font-size: 25px;

  }
  
  .main-content .top-bar .user-info img {
    height: 80px;
    margin-right: 500px; /* Ajusta el espacio entre la imagen y el texto */
    
  }
  
  .main-content .profile-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .main-content .profile-section img {
    width: 200px;
    border-radius: 50%;
  }
  
  .main-content .profile-section h1 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .main-content .profile-section p {
    font-size: 18px;
  }
  
  .footer {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
    }
  
    .main-content .top-bar {
      flex-direction: column;
    }
  }
  